/* ПОСЛІДОВНІСТЬ ДІЙ: #початок роботи в CSS
1. підключити modern-normalize
2. підключити файл style.css
3. підключити шрифти з google-fonts
4. cкидання дефолтних налаштувань браузера - виконано
5. прописати загальні стилі
5. прописати стилі шрифтів
6. прописати стилі для: header, main, footer 
7. звернувся до *{backround-color/outline}/видалив по завершенню
8. прописав для секцій(padding-top/botton;margin-top/bottom)/обов'язково
9. прописав VISUALLI-HIDDEN для прихованих заголовків
10. прописав CONTAINER
11. прописав розташування по властивостям для елементів у FLEX
    - !завжди створювати окремий CLASS для FLEX-container/FLEX-elementiv!
    - FLEX завжди задається на батьківський елемент - тоді всі його діти стають FLEX-elements
Алгоритм пропису властивостей у флекс-бокс/elements:
Основні властивості:

display: flex; - робить Flex-conteiner( в середині якого всі дочірні елементи стануть флекс-елементами)
flex-direction: - змінює напрямок головної осі
jastify-content: - вирівнювання елементів по головній осі
align-items: - вирівнювання елементів по допоміжній осі
align-content: - вирівнювання рядків по допоміжній осі
flex-wrap: - перенесення по головній осі
column-gap: відступ між колонками
row-gap: - відступ між рядками

12. ПЕРЕВІРИТИ ЧИТАБЕЛЬНІСТЬ КОДУ
*/

/*
|=====================================|
|------|ДЕФОЛТНІ СКИДАННЯ/RESET|------|
|=====================================|
*/
/*скинув маркери*/
.list {
  list-style: none;
}
/* скинув підкреслення */
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*7. звернувся до *{backround-color/outline}/DELETE по завершенню*/
/*
* {
    outline: 1px solid tomato;
    background: orange;
}
/*
|=========================================|
|-|ЗАГАЛЬНІ СТИЛІ/STYLES INDEX/PORTFOLIO|-|
|=========================================|
*/
/*
|------------COLORS/FONTS/OTHER----------|
|----прописати зрозумілі значення для кольрів:----|
|- CL - колір для тексту;-------------------------------|
|- H - колір для заголовків;----------------------------|
|- P - колір для абзаців;----------------------------|
|- BG - колір для фону;----------------------------------|
*/
:root {
  /*повидаляти зайве*/
  /*colors*/
  --color-web: #4d5ae5;
  --color-studio-header: #2e2f42;
  --color-studio-footer: #f4f4fd;
  --title-h-cl: #2e2f42;
  --title-p-cl: #434455;
  --header-navigation-a-norm-cl: #2e2f42;
  --header-adress-a-norm-cl: #434455;
  --header-a-active-cl: #404bbf;
  --section-hero-h-cl: #fff;
  --section-hero-bg: #2e2f42;
  --section-hero-btn-cl: #fff;
  --section-hero-btn-bg: #4d5ae5;
  --section-hero-btn-active-bg: #404bbf;
  --portfolio-filter-btn-cl: #4d5ae5;
  --portfolio-filter-btn-active-cl: #fff;
  --portfolio-filter-btn-norm-bg: #f4f4fd;
  --portfolio-filter-btn-active-bg: #404bbf;

  /*fonts*/
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*other*/
}

.body-content {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
  background: #fff;
}
/*стилі для приховаих заголовків*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*прописуємо контейнер для початку роботи з флексами*/
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*
|==========================================|
|=======HEADER-FOOTER/загальні стилі=======|
|==========================================|
*/

.header-container {
  display: flex;
}

/*
|==========================================|
|----------------NAVIGATION----------------|
|==========================================|
*/

/*
|==========================================|
|-----HEADER/головна навігація/перехід-----|
|==========================================|
*/

/*
|==========================================|
|HEADER/ADRESS|
|==========================================|
*/

/*загальний клас для заголовків H2 на INDEX*/
.title-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-h-cl);
}
/*загальний клас для заголовків H2,H3 INDEX/PORTFOLIO*/
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-h-cl);
}

/*
|=======================================|
|----------ЗАГАЛЬНІ СТИЛІ:END-----------|
|=======================================|
*/

/*
|==========================================|
|---------------|MAIN|INDEX|---------------|
|---------------|SECTION HERO|-------------|
|==========================================|
*/

.our-goals-container {
  padding-left: 15px;
  padding-right: 15px;
}

.our-goals-icons {
}

/*
|==========================================|
|------------------|MAIN|------------------|
|-------------|SECTION OUR TEAM|-----------|
|==========================================|
*/

.team-container {
  display: flex;
  flex-direction: column;
}

.section-team-img {
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

/*
|==========================================|
|FOOTER|
|==========================================|
*/

.footer-container {
  display: flex;
  align-items: baseline;
}

.sybscribe-footer-form {
  display: flex;
  gap: 24px;
}
.subscribe-footer-label {
}
